.Sidebar__body {
    width: 25%;
    z-index: 1;
    background-color: #fdf3e6;
    border-radius: 15px;
    margin-right: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Sidebar__body > div {
    margin: 20px 20px;
}

.Sidebar {
    display: flex;
    flex-direction: column;
}

.Sidebar h2, .Sidebar p {
    margin: 0;
}

.Sidebar svg{
    height: 8%;
}

.Sidebar .link-to-pages {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.Sidebar .link-to-pages div {
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin: 0;
}

.Sidebar .link-to-pages div p {
    background-color: floralwhite;
    border-radius: 10px;
    margin: 0.4rem 0;
    padding:10px;
    width: 100%;
}

.Sidebar .link-to-pages p{
    font-size: 1rem;
}

hr.hr--horizontal {
    border: 2px solid #e2c8be;
    width: 30px;
    margin-left: -2px;

}
.reloadButton {
    height:30%;
    background-color: floralwhite;
    padding:5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.reloadButton h4{
    font-size: 1rem;
    text-align: center;
}

.reloadButton svg {
    height: 60%;
    margin-left: 15px;
    max-height: 40px;
    min-height: 10px;
}

.link-to-instruction {
    padding: 5px;

    background-color: floralwhite;
    border-radius: 15px;
    text-align: center;
}
.link-to-instruction p, .link-to-instruction a {
    font-size: 0.95rem;
    font-weight: normal;
}

.language__toggle-switch {
    display: inline-flex;
    align-items: center;
}

.sidebar__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.link-to-pages__body {
    display: inline-flex;
}

.link-to-pages__body .hr--vertical {
    border-right: 3px solid #e2c8be;
    height: 83.5%;
    width: 3px;
}

.about-project-button {
    padding-top: 20px;
    width: 100%;
    text-align: center;
}
.about-project-button span{
    background-color: #fbe1cbc7;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
}