.MorseCode__body {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.MorseCode {
    width: 80%;
}

.control-buttons {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;

}
.control-buttons button {
    margin: 10px;
    background-color: #fdf3e6;
}

.symbol-button {
    font-size: 150%;
}

.all-letters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 80%;

}