.top-svg > .SVG {
    margin-bottom: -1.5rem;
}

.wires__body {
    width: 70%;
    margin-left: 10px;
    height: fit-content;

    background-color: #FDF4E7;
    border-radius: 5%;

    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

}

.wires__body > div {
    margin: 20px;
}

.wires {
    display: flex;
    flex-direction: column;
    width:90%;
    align-items: center;

    height: 100%;
}

.wires section{
    width:100%;
    height: 100%;
}

.wires__body__note {
    margin-top: 1rem;
    padding: 10px;
    background-color: antiquewhite;
    opacity: 80%;
    width: 60% !important;
    border-radius: 30px;
}
.wires__body__note p {
    text-align: center;
}
